<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>河南中医大学</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>

</head>

<body>
<!--top-->
<div class="w100 overflow"><img src="images/index_r1_c1.jpg"></div>
<!--nav-->
<div class="nav_bg overflow clearfix">
 <div class="wrap overflow nav">
  <ul>
   <li><a href="#" >首页</a></li>
   <li><a href="#">课程介绍 </a></li>
   <li><a href="#">教师队伍</a></li>
   <li><a href="#">教学大纲</a></li>
   <li><a href="#"> 教学课件</a></li>
   <li><a href="#">参考资料</a></li>
   <li><a href="#">基地建设</a></li>
   <li><a href="#">参考资料</a></li>
   <li><a href="#" class="nav_hover">特色饮片</a></li>
   <li><a href="#">炮制数据库</a></li>
   <li><a href="#">问题讨论</a></li>
   <li><a href="#">网站链接</a></li>
  </ul>
 </div>
</div>
<!--js-->
<div class="w100 overflow clearfix  ">
 <img src="images/ad.jpg">
</div>


<!--队伍-->
<div class="wrap team_bg overflow clearfix mt25">
 
 <div class="pest_top overflow">
    <p class="fl"><img src="images/links_r2_c2.jpg"></p>
  </div>
  <div class="lianjielist overflow clearfix pt15">
    <div class="xq_left">
        
        <h5>长白山桑黄桑黄产地</h5>
        <p><img src="images/img_r4_c4.jpg"></p>
        <p>中央纪委驻财政部纪检组原组长莫建成涉嫌受贿一案，由北京市监察委员会调查终结移送北京市人民检察院审查后，交由北京市人民检察院第一分院审查起诉。近日，北京市人民检察院第一分院已向北京市第一中级人民法院提起公诉。检察机关起诉指控：被告人莫建成利用其担任中共通辽市委副书记、通辽市人民政府副市长、市长、中共通辽市委书记、中共内蒙古自治区党委常委、包头市委书记、中共江西省委常委、组织部部长、江西省人民政府副省长、中共江西省委副书记、中央纪委驻财政部纪检组组长、财政部党组成员等职务上的便利，为他人谋取利益；利用本人职权、地位形成的便利条件，通过其他国家工作人员职务上的行为，为他人谋取不正当利益，非法收受巨额财物，依法应当以受贿罪追究其刑</p>
        
        </div>
      
  </div>

</div>
<!--版权-->
<div class="copy_bg clearfix">
 <div class="wrap copy">
  <p>
  河南中医药大学权所有 © 2018 Henan University of Chinese Medicine   <br>
豫ICP备05002492号-1   <br>
河南省 郑州市 郑东新区 金水东路156号 
  </p>
  <ul>
   <li>
    <a href="#"><img src="images/ty0_r4_c2.png"></a>
   </li>
   <li>
   <a href="#"><img src="images/ty0_r4_c4.png">
    <div><img src="images/ty0_r2_c5.png"></div>
   </a>
   </li>
  </ul>
 </div>
</div>
</body>
</html>
