<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>河南中医大学</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>

</head>

<body>
<!--top-->
<div class="w100 overflow"><img src="images/index_r1_c1.jpg"></div>
<!--nav-->
<div class="nav_bg overflow clearfix">
 <div class="wrap overflow nav">
  <ul>
   <li><a href="#" >首页</a></li>
   <li><a href="#">课程介绍 </a></li>
   <li><a href="#">教师队伍</a></li>
   <li><a href="#">教学大纲</a></li>
   <li><a href="#"> 教学课件</a></li>
   <li><a href="#">参考资料</a></li>
   <li><a href="#">基地建设</a></li>
   <li><a href="#">参考资料</a></li>
   <li><a href="#" class="nav_hover">特色饮片</a></li>
   <li><a href="#">炮制数据库</a></li>
   <li><a href="#">问题讨论</a></li>
   <li><a href="#">网站链接</a></li>
  </ul>
 </div>
</div>
<!--js-->
<div class="w100 overflow clearfix  ">
 <img src="images/ad.jpg">
</div>


<!--队伍-->
<div class="wrap team_bg overflow clearfix mt25">
 
 <div class="pest_top overflow">
    <p class="fl"><img src="images/tlr2_c2.jpg"></p>
  </div>
  <div class="wenti overflow clearfix mt40">
     <div class="wenti_div">
      <h5>欢迎在线留言我们将尽快给你回复</h5>
     <form class="form-horizontal" role="form" style="width:100%">
  <div class="form-group">
    <div for="firstname" class="col-sm-2 control-label"  ><em>*</em>留言标题：</div>
    <div class="col-sm-10">
      <input type="text" class="form-control in_but1" id="firstname" >
    </div>
  </div>
  <div class="form-group">
    <div for="firstname" class="col-sm-2 control-label"  ><em>*</em>姓名：</div>
    <div class="col-sm-10">
      <input type="text" class="form-control in_but" id="lastname" >
    </div>
  </div>
   <div class="form-group">
    <div for="firstname" class="col-sm-2 control-label"  ><em>*</em>联系电话：</div>
    <div class="col-sm-10">
      <input type="text" class="form-control in_but" id="lastname" >
    </div>
  </div> 
   <div class="form-group">
    <div for="firstname" class="col-sm-2 control-label"  >E-mail：</div>
    <div class="col-sm-10">
      <input type="text" class="form-control in_but" id="lastname" >
    </div>
  </div> 
   <div class="form-group">
    <div for="firstname" class="col-sm-2 control-label"  >联系地址：</div>
    <div class="col-sm-10">
      <input type="text" class="form-control in_but1" id="lastname" >
    </div>
  </div> 
  <div class="form-group">
    <div for="firstname" class="col-sm-2 control-label"  >留言内容：</div>
    <div class="col-sm-10">
      <textarea class="form-controll" rows="3"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <p style="float:left"><button type="submit" class="btn btn-default">点击提交信息</button></p>
    </div>
  </div>
</form>
     </div> 
  </div>
  
  <!--留言-->
  <div class="liyyantop">
   <p>所有留言</p>
   <span><em>20</em>条评论</span>
  </div>
 <div class="liyyanbot">
  <dl>
   <dt>
    <p>2018-09-20</p>
    kebid
   </dt>
   <dd>
   fkdfklvgfkgkfll富可敌国开封看了的付过款发
   </dd>
  </dl>
  <dl>
   <dt>
    <p>2018-09-20</p>
    kebid
   </dt>
   <dd>
   fkdfklvgfkgkfll富可敌国开封看了的付过款发
   </dd>
  </dl>
  <dl>
   <dt>
    <p>2018-09-20</p>
    kebid
   </dt>
   <dd>
   fkdfklvgfkgkfll富可敌国开封看了的付过款发
   </dd>
  </dl>
  <dl>
   <dt>
    <p>2018-09-20</p>
    kebid
   </dt>
   <dd>
   fkdfklvgfkgkfll富可敌国开封看了的付过款发
   </dd>
  </dl>
  <dl>
   <dt>
    <p>2018-09-20</p>
    kebid
   </dt>
   <dd>
   fkdfklvgfkgkfll富可敌国开封看了的付过款发
   </dd>
  </dl>
 </div>
</div>
<!--版权-->
<div class="copy_bg clearfix">
 <div class="wrap copy">
  <p>
  河南中医药大学权所有 © 2018 Henan University of Chinese Medicine   <br>
豫ICP备05002492号-1   <br>
河南省 郑州市 郑东新区 金水东路156号 
  </p>
  <ul>
   <li>
    <a href="#"><img src="images/ty0_r4_c2.png"></a>
   </li>
   <li>
   <a href="#"><img src="images/ty0_r4_c4.png">
    <div><img src="images/ty0_r2_c5.png"></div>
   </a>
   </li>
  </ul>
 </div>
</div>
</body>
</html>
